xsd/gml-pos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/gml/3.2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified" version="3.2.1.2">
	<element name="pos">
        <complexType>
             <simpleContent>
                <extension base="string">
                     <attribute name="srsName" type="anyURI"/>
                     <attribute name="srsDimension" type="positiveInteger"/>
                </extension>
             </simpleContent>
        </complexType>
    </element>
</schema>
