xsd/netex-nl-fare.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Dit bestand is onderdeel van de XML Schema definitie van het NL NeTEx profiel:  -->
<!--  * type definities van fare-gerelateerde zaken                                  -->
<!--                                                                                 -->
<!-- Copyright:                                                                      -->
<!--     Dit document is eigendom van Platform BISON onder Samenwerkingsverband DOVA -->
<!--     en wordt gepubliceerd onder de Creative Commons Licentie by-nd/3.0/nl,      -->
<!--     zie http://creativecommons.org/licences/by-nd/3.0/nl                        -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<xsd:schema xmlns="http://www.netex.org.uk/netex"
            xmlns:netex="http://www.netex.org.uk/netex"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:gml="http://www.opengis.net/gml/3.2"
            targetNamespace="http://www.netex.org.uk/netex"
            elementFormDefault="qualified"
            attributeFormDefault="qualified"
            version="9.2.3"
            id="netex-nl-fare">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- AFHANKELIJKHEDEN                                                                -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-bison.xsd"/>
    <xsd:include schemaLocation="netex-nl-basic.xsd"/>
    <xsd:include schemaLocation="netex-nl-enums.xsd"/>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- DEFINITIES VOOR HET NL NETEX PROFIEL                                            -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xsd:complexType name="TypeOfFrameRefStructure-fare">
        <xsd:complexContent>
            <xsd:restriction base="TypeOfFrameRefStructure">
                <xsd:attribute name="version" type="VersionIdType" use="required" form="unqualified"/>
                <xsd:attribute name="ref" type="BisonTypeOfProfileFrame" use="required" fixed="BISON:TypeOfFrame:NL_TT_FARE" form="unqualified"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- ELEMENTEN (ONDERSTEUNEND)                                                       -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xsd:complexType name="VersionFrameDefaultsStructure-fare">
        <xsd:annotation>
            <xsd:documentation>FrameDefaults voor een FareFrame.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="DefaultCurrency" type="CurrencyType" fixed="EUR" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- FARE FRAME                                                                      -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xsd:complexType name="fareFrame">
        <xsd:complexContent>
            <xsd:extension base="VersionFrameVersionStructure">
                <xsd:sequence>
                    <!-- TODO: Hoe wordt de KeyList gebruikt bij de export voor TransLink -->
                    <xsd:element name="keyList" type="KeyListStructure">
                        <xsd:annotation>
                            <xsd:documentation>Gebruik hier Key="EntranceRateWrtCurrency". Gebruik een PUNT als scheidingsteken van de decimalen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TypeOfFrameRef" type="TypeOfFrameRefStructure-fare"/>
                    <xsd:element name="FrameDefaults" type="VersionFrameDefaultsStructure-fare" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Bevat alleen DefaultResponsibilitySetRef voor de koppeling aan de (hoofd)financier</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contentValidityConditions">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ValidityTrigger" type="validityTrigger" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PricingParameterSet" type="PricingParameterSet" minOccurs="0"/>
                    <xsd:element name="tariffs">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Tariff" type="Tariff" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- ELEMENTEN                                                                       -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xsd:complexType name="validityTrigger">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:sequence>
                    <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
                    <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
                    <xsd:element name="ConditionedObjectRef" type="VersionOfObjectRefStructure"/>
                    <xsd:element name="WithConditionRef" type="VersionOfObjectRefStructure" minOccurs="0"/>
                    <xsd:element name="TriggerObjectRef" type="VersionOfObjectRefStructure"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PricingParameterSet">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:sequence>
                    <xsd:element name="pricingRules" type="pricingRules" minOccurs="0"/>
                    <xsd:element name="roundings" type="roundings" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pricingRules">
        <xsd:sequence>
            <xsd:element name="LimitingRule" type="LimitingRule"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LimitingRule">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:sequence>
                    <xsd:element name="MaximumPrice" type="xsd:decimal">
                        <xsd:annotation>
                            <xsd:documentation>Gebruik een PUNT als scheidingsteken van de decimalen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="roundings">
        <xsd:sequence>
            <xsd:element name="Rounding" type="Rounding"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Rounding">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:sequence>
                    <xsd:element name="RoundingModulus" type="xsd:decimal">
                        <xsd:annotation>
                            <xsd:documentation>Gebruik een PUNT als scheidingsteken van de decimalen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Tariff">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:sequence>
                    <xsd:element name="keyList" type="KeyListStructure">
                        <xsd:annotation>
                            <xsd:documentation>Gebruik hier Key="TariffType".</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                    <xsd:choice>
                        <xsd:element name="geographicalIntervals" type="geographicalIntervals"/>
                        <xsd:element name="distanceMatrixElements" type="distanceMatrixElements"/>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="geographicalIntervals">
        <xsd:sequence>
            <xsd:element name="GeographicalInterval" type="GeographicalInterval" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GeographicalInterval">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:sequence>
                    <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
                    <xsd:element name="StartGeographicalValue" type="xsd:integer"/>
                    <xsd:element name="EndGeographicalValue" type="xsd:integer"/>
                    <xsd:element name="prices" type="prices"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="prices">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="GeographicalIntervalPrice" type="GeographicalIntervalPrice"/>
                <xsd:element name="DistanceMatrixElementPrice" type="DistanceMatrixElementPrice"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GeographicalIntervalPrice">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:annotation>
                    <xsd:documentation>Gebruik een PUNT als scheidingsteken van de decimalen.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="Amount" type="xsd:decimal"/>
                    <xsd:element name="Units" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DistanceMatrixElementPrice">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:annotation>
                    <xsd:documentation>Gebruik een PUNT als scheidingsteken van de decimalen.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="Amount" type="xsd:decimal"/>
                    <xsd:element name="Units" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="distanceMatrixElements">
        <xsd:sequence>
            <xsd:element name="DistanceMatrixElement" type="DistanceMatrixElement" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DistanceMatrixElement">
        <xsd:complexContent>
            <xsd:extension base="DataManagedObjectStructure">
                <xsd:sequence>
                    <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
                    <xsd:element name="Distance" type="xsd:nonNegativeInteger" minOccurs="0"/>
                    <xsd:element name="InverseAllowed" type="xsd:boolean"/>
                    <xsd:element name="StartStopPointRef" type="VersionOfObjectRefStructure"/>
                    <xsd:element name="EndStopPointRef" type="VersionOfObjectRefStructure"/>
                    <xsd:element name="prices" type="prices" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>