xsd/netex-nl.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Copyright: -->
<!--     Dit document is eigendom van Platform BISON onder de Stichting Connekt -->
<!--     en wordt gepubliceerd onder de Creative Commons Licentie by-nd/3.0/nl, -->
<!--     zie http://creativecommons.org/licences/by-nd/3.0/nl -->
<!-- Dit XSD is onderdeel van het TMI9 NeTEx Nederlands profiel -->
<!-- Versie:  v9.1.0 -->
<!-- Historie: -->
<!--   v9.0.0 (26-04-2017): initiele versie -->
<!--   v9.1.0 (april 2019) -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="qualified" version="9.1.0" id="netex-bison-xsd">
	<xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-bison.xsd"/>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- ABSTRACTE TYPEN                                                                                  -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:complexType name="identifiedObject_" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Ieder object heeft een uniek 'id' conform de afspraken in het Nederlands NeTEx Profiel document</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="versionedObject_" abstract="true">
		<xsd:annotation>
			<xsd:documentation>De waarde 'any' van attribuut 'version' wordt geinterpreteerd als 'de van het bovenliggende object geërfde versie'</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="version" type="xsd:string" use="optional" default="any" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="modifiedObject_" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Als attribuut 'modification' ontbreekt wordt de waarde van het bovenliggend object geërfd</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="modification" type="modification" use="optional" form="unqualified"/>
		<xsd:attribute name="version" type="xsd:string" use="optional" default="any" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="orderedObject_" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Bij een object in een sequence is attribuut 'order' verplicht</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="modification" type="modification" use="optional" form="unqualified"/>
		<xsd:attribute name="version" type="xsd:string" use="optional" default="any" form="unqualified"/>
		<xsd:attribute name="order" type="xsd:nonNegativeInteger" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="versionedFrame_" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Bij een Frame is attribuut 'version' verplicht</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="version" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="modifiedFrame_" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Bij het CompositeFrame zijn attributen 'version' en 'modification' verplicht</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="modification" type="modification" use="required" form="unqualified"/>
		<xsd:attribute name="version" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="modifiedVersion_" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Bij een Version zijn attributen 'version' en 'modification' verplicht</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="modification" type="modification" use="required" form="unqualified"/>
		<xsd:attribute name="version" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="predefinedObject_" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Een element uit een voorgedefinieerde lijst heeft alleen een uniek 'id', geen 'version'</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- REFERENTIES                                                                                           -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:complexType name="ref">
		<xsd:attribute name="ref" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="refVersion">
		<xsd:attribute name="version" type="xsd:string" use="optional" default="any" form="unqualified"/>
		<xsd:attribute name="ref" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="refClass">
		<xsd:attribute name="nameOfRefClass" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="ref" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="refClassVersion">
		<xsd:attribute name="nameOfRefClass" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="version" type="xsd:string" use="optional" default="any" form="unqualified"/>
		<xsd:attribute name="ref" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<xsd:complexType name="refType">
		<xsd:attribute name="ref" type="xsd:string" use="required" form="unqualified"/>
		<xsd:attribute name="type" type="xsd:string" use="required" form="unqualified"/>
	</xsd:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- BASIS TYPEN                                                                                              -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:complexType name="location">
		<xsd:sequence>
			<xsd:element ref="gml:pos"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typedString">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="textIdType" type="xsd:string" use="optional" form="unqualified"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="privateCode">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" type="xsd:string" use="required" form="unqualified"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="iconURI">
		<xsd:simpleContent>
			<xsd:extension base="xsd:anyURI">
				<xsd:attribute name="typeOfInfoLink" type="xsd:string" fixed="icon"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="websiteURI">
		<xsd:restriction base="xsd:anyURI">
			<xsd:maxLength value="1024"/>
			<xsd:pattern value="(http|HTTP|https|HTTPS)://.+"/>
			<!-- http/https (lowercase or uppercase, no combinations) -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="imageURI">
		<xsd:restriction base="xsd:anyURI">
			<xsd:maxLength value="1024"/>
			<xsd:pattern value="(http|HTTP|https|HTTPS|ftp|FTP)://.+\.(jpg|JPG|jpeg|JPEG|gif|GIF|png|PNG|svg|SVG)"/>
			<!-- ftp/http/https (lowercase or uppercase, no combinations) -->
			<!-- file types jpg, jpeg, gif, png,svg (lowercase or uppercase, no combinations) -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="colour">
		<xsd:restriction base="xsd:hexBinary">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- UITBREIDINGEN VAN DE NETEX STANDAARD                                       -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:complexType name="extensionPrivateCode">
		<xsd:sequence>
			<xsd:element name="PrivateCode" type="privateCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="keyList">
		<xsd:sequence>
			<xsd:element name="KeyValue" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Key" type="xsd:string"/>
						<xsd:element name="Value" type="xsd:string"/>
					</xsd:sequence>
					<xsd:attribute name="typeOfKey" type="xsd:normalizedString"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- ENUMERATIES                                                                                           -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:simpleType name="modification">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="new"/>
			<xsd:enumeration value="delete"/>
			<xsd:enumeration value="revise"/>
			<xsd:enumeration value="unchanged"/>
			<xsd:enumeration value="delta"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccessFacilityEnumeration">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="escalator"/>
			<xsd:enumeration value="travelator"/>
			<xsd:enumeration value="ramp"/>
			<xsd:enumeration value="stairs"/>
			<xsd:enumeration value="shuttle"/>
			<xsd:enumeration value="narrowEntrance"/>
			<xsd:enumeration value="barrier"/>
			<xsd:enumeration value="palletAccess_lowFloor"/>
			<xsd:enumeration value="validator"/>
			<xsd:enumeration value="manualRamp"/>
			<xsd:enumeration value="automaticRamp"/>
			<xsd:enumeration value="wheelchairLift"/>
			<xsd:enumeration value="slidingStep"/>
			<xsd:enumeration value="other"/>
			<!-- vanaf hier: NIEUW TOEGEVOEGD t.o.v. de NeTEx standaard -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SanitaryFacilityEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="toilet"/>
			<xsd:enumeration value="wheelChairAccessToilet"/>
			<xsd:enumeration value="shower"/>
			<xsd:enumeration value="washingAndChangeFacilities"/>
			<xsd:enumeration value="babyChange"/>
			<xsd:enumeration value="wheelchairBabyChange"/>
			<xsd:enumeration value="shoeShiner"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TicketingServiceFacilityEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="purchase"/>
			<xsd:enumeration value="collection"/>
			<xsd:enumeration value="cardTopUp"/>
			<xsd:enumeration value="reservations"/>
			<xsd:enumeration value="exchange"/>
			<xsd:enumeration value="refund"/>
			<xsd:enumeration value="renewal"/>
			<xsd:enumeration value="excessFares"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassengerCommsFacilityEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="freeWifi"/>
			<xsd:enumeration value="publicWifi"/>
			<xsd:enumeration value="powerSupplySockets"/>
			<xsd:enumeration value="telephone"/>
			<xsd:enumeration value="audioEntertainment"/>
			<xsd:enumeration value="videoEntertainment"/>
			<xsd:enumeration value="businessServices"/>
			<xsd:enumeration value="internet"/>
			<xsd:enumeration value="postOffice"/>
			<xsd:enumeration value="postBox"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeOfFuelEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="petrol"/>
			<xsd:enumeration value="diesel"/>
			<xsd:enumeration value="naturalGas"/>
			<xsd:enumeration value="biodiesel"/>
			<xsd:enumeration value="electricity"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransportmodeEnum">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="tram"/>
			<xsd:enumeration value="rail"/>
			<xsd:enumeration value="metro"/>
			<xsd:enumeration value="water"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PtSubmodeChoice">
		<xsd:choice>
			<xsd:element name="BusSubmode" type="BusSubmodeEnumeration" default="unknown"/>
			<xsd:element name="MetroSubmode" type="MetroSubmodeEnumeration" default="unknown"/>
			<xsd:element name="TramSubmode" type="TramSubmodeEnumeration" default="unknown"/>
			<xsd:element name="RailSubmode" type="RailSubmodeEnumeration" default="unknown"/>
			<xsd:element name="WaterSubmode" type="WaterSubmodeEnumeration" default="unknown"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="BusSubmodeEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="localBus"/>
			<xsd:enumeration value="regionalBus"/>
			<xsd:enumeration value="expressBus"/>
			<xsd:enumeration value="nightBus"/>
			<xsd:enumeration value="postBus"/>
			<xsd:enumeration value="specialNeedsBus"/>
			<xsd:enumeration value="mobilityBus"/>
			<xsd:enumeration value="mobilityBusForRegisteredDisabled"/>
			<xsd:enumeration value="sightseeingBus"/>
			<xsd:enumeration value="shuttleBus"/>
			<xsd:enumeration value="highFrequencyBus"/>
			<xsd:enumeration value="dedicatedLaneBus"/>
			<xsd:enumeration value="schoolBus"/>
			<xsd:enumeration value="schoolAndPublicServiceBus"/>
			<xsd:enumeration value="railReplacementBus"/>
			<xsd:enumeration value="demandAndResponseBus"/>
			<xsd:enumeration value="airportLinkBus"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MetroSubmodeEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="metro"/>
			<xsd:enumeration value="tube"/>
			<xsd:enumeration value="urbanRailway"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TramSubmodeEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="cityTram"/>
			<xsd:enumeration value="localTram"/>
			<xsd:enumeration value="regionalTram"/>
			<xsd:enumeration value="sightseeingTram"/>
			<xsd:enumeration value="shuttleTram"/>
			<xsd:enumeration value="trainTram"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WaterSubmodeEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="internationalCarFerry"/>
			<xsd:enumeration value="nationalCarFerry"/>
			<xsd:enumeration value="regionalCarFerry"/>
			<xsd:enumeration value="localCarFerry"/>
			<xsd:enumeration value="internationalPassengerFerry"/>
			<xsd:enumeration value="nationalPassengerFerry"/>
			<xsd:enumeration value="regionalPassengerFerry"/>
			<xsd:enumeration value="localPassengerFerry"/>
			<xsd:enumeration value="postBoat"/>
			<xsd:enumeration value="trainFerry"/>
			<xsd:enumeration value="roadFerryLink"/>
			<xsd:enumeration value="airportBoatLink"/>
			<xsd:enumeration value="highSpeedVehicleService"/>
			<xsd:enumeration value="highSpeedPassengerService"/>
			<xsd:enumeration value="sightseeingService"/>
			<xsd:enumeration value="schoolBoat"/>
			<xsd:enumeration value="cableFerry"/>
			<xsd:enumeration value="riverBus"/>
			<xsd:enumeration value="scheduledFerry"/>
			<xsd:enumeration value="shuttleFerryService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RailSubmodeEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="local"/>
			<xsd:enumeration value="highSpeedRail"/>
			<xsd:enumeration value="suburbanRailway"/>
			<xsd:enumeration value="regionalRail"/>
			<xsd:enumeration value="interregionalRail"/>
			<xsd:enumeration value="longDistance"/>
			<xsd:enumeration value="international"/>
			<xsd:enumeration value="sleeperRailService"/>
			<xsd:enumeration value="nightRail"/>
			<xsd:enumeration value="carTransportRailService"/>
			<xsd:enumeration value="touristRailway"/>
			<xsd:enumeration value="airportLinkRail"/>
			<xsd:enumeration value="railShuttle"/>
			<xsd:enumeration value="replacementRailService"/>
			<xsd:enumeration value="specialTrain"/>
			<xsd:enumeration value="crossCountryRail"/>
			<xsd:enumeration value="rackAndPinionRailway"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DirectionTypeEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="inbound"/>
			<xsd:enumeration value="outbound"/>
			<xsd:enumeration value="clockwise"/>
			<xsd:enumeration value="anticlockwise"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeadRunTypeEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="garageRunOut"/>
			<xsd:enumeration value="garageRunIn"/>
			<xsd:enumeration value="turningManoeuvre"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DynamicAdvertisementEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="always"/>
			<xsd:enumeration value="never"/>
			<xsd:enumeration value="onlyIfOrdered"/>
			<xsd:enumeration value="onlyIfSignedOn"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StakeholderRoleTypeEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Planning"/>
			<xsd:enumeration value="Operation"/>
			<xsd:enumeration value="Control"/>
			<xsd:enumeration value="Reservation"/>
			<xsd:enumeration value="EntityLegalOwnership"/>
			<xsd:enumeration value="FareManagement"/>
			<xsd:enumeration value="SecurityManagement"/>
			<xsd:enumeration value="DataRegistrar"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StakeholderRoleTypeListOfEnumerations">
		<xsd:list itemType="StakeholderRoleTypeEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfWeekEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Monday"/>
			<xsd:enumeration value="Tuesday"/>
			<xsd:enumeration value="Wednesday"/>
			<xsd:enumeration value="Thursday"/>
			<xsd:enumeration value="Friday"/>
			<xsd:enumeration value="Saturday"/>
			<xsd:enumeration value="Sunday"/>
			<xsd:enumeration value="Everyday"/>
			<xsd:enumeration value="Weekdays"/>
			<xsd:enumeration value="Weekend"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DaysOfWeekListOfEnumerations">
		<xsd:list itemType="DayOfWeekEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="HolidayTypeEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AnyDay"/>
			<xsd:enumeration value="WorkingDay"/>
			<xsd:enumeration value="SchoolDay"/>
			<xsd:enumeration value="NotHoliday"/>
			<xsd:enumeration value="NotWorkingDay"/>
			<xsd:enumeration value="NotSchoolDay"/>
			<xsd:enumeration value="AnyHoliday"/>
			<xsd:enumeration value="LocalHoliday"/>
			<xsd:enumeration value="RegionalHoliday"/>
			<xsd:enumeration value="NationalHoliday"/>
			<xsd:enumeration value="HolidayDisplacementDay"/>
			<xsd:enumeration value="EveOfHoliday"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HolidayTypesListOfEnumerations">
		<xsd:list itemType="HolidayTypeEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="SeasonEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Spring"/>
			<xsd:enumeration value="Summer"/>
			<xsd:enumeration value="Autumn"/>
			<xsd:enumeration value="Winter"/>
			<xsd:enumeration value="Perennially"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SeasonsListOfEnumerations">
		<xsd:list itemType="SeasonEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="DayEventEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="anyDay"/>
			<xsd:enumeration value="normalDay"/>
			<xsd:enumeration value="marketDay"/>
			<xsd:enumeration value="matchDay"/>
			<xsd:enumeration value="eventDay"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TideEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HighTide"/>
			<xsd:enumeration value="LowTide"/>
			<xsd:enumeration value="NeapTide"/>
			<xsd:enumeration value="AllTides"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TidesListOfEnumerations">
		<xsd:list itemType="TideEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="CrowdingEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="veryQuiet"/>
			<xsd:enumeration value="quiet"/>
			<xsd:enumeration value="normal"/>
			<xsd:enumeration value="busy"/>
			<xsd:enumeration value="veryBusy"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WeeksOfMonthListOfEnumerations">
		<xsd:list itemType="WeekOfMonthEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="WeekOfMonthEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="EveryWeek"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeOfVersionEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="point"/>
			<xsd:enumeration value="baseline"/>
			<xsd:enumeration value="delta"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- ELEMENTEN (ONDERSTEUNEND)                                                          -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:complexType name="frameDefaults">
		<xsd:sequence>
			<xsd:element name="DefaultDataSourceRef" type="refVersion"/>
			<xsd:element name="DefaultResponsibilitySetRef" type="refVersion"/>
			<xsd:element name="DefaultLocale" type="localeStructure"/>
			<xsd:element name="DefaultLocationSystem" type="xsd:string" fixed="EPSG:28992"/>
			<xsd:element name="DefaultSystemOfUnits" type="xsd:string" fixed="SiMetres"/>
			<xsd:element name="DefaultCurrency" type="xsd:string" fixed="EUR"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="localeStructure">
		<xsd:sequence>
			<xsd:element name="TimeZoneOffset" type="xsd:decimal" default="+1" minOccurs="0"/>
			<xsd:element name="TimeZone" type="xsd:string" fixed="Europe/Amsterdam"/>
			<xsd:element name="SummerTimeZoneOffset" type="xsd:decimal" default="+2" minOccurs="0"/>
			<xsd:element name="DefaultLanguage" type="xsd:language" fixed="nl"/>
			<xsd:element name="languages" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LanguageUsage" type="languageUsage" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="languageUsage">
		<xsd:sequence>
			<xsd:element name="Language" type="xsd:language"/>
			<xsd:element name="LanguageUse" type="xsd:string" fixed="allUses"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="presentation">
		<xsd:sequence>
			<xsd:element name="Colour" type="colour" minOccurs="0"/>
			<xsd:element name="TextColour" type="colour" minOccurs="0"/>
			<xsd:element name="infoLinks" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="InfoLink" type="iconURI"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="version">
		<xsd:complexContent>
			<xsd:extension base="modifiedVersion_">
				<xsd:sequence>
					<xsd:element name="StartDate" type="xsd:dateTime"/>
					<xsd:element name="EndDate" type="xsd:dateTime"/>
					<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="VersionType" type="TypeOfVersionEnumeration" minOccurs="0"/>
					<xsd:element name="DerivedFromVersionRef" type="refVersion" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="versions">
		<xsd:sequence>
			<xsd:element name="Version" type="version" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- ELEMENTEN (INHOUDELIJK)                                                                    -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:complexType name="administrativeZone">
		<xsd:complexContent>
			<xsd:extension base="predefinedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="ShortName" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="authority">
		<xsd:complexContent>
			<xsd:extension base="predefinedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="ShortName" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="operator">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="ShortName" type="xsd:string"/>
					<xsd:element name="CustomerServiceContactDetails" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Email" type="xsd:string" minOccurs="0"/>
								<xsd:element name="Phone" type="xsd:string" minOccurs="0"/>
								<xsd:element name="Url" type="websiteURI" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="branding">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Image" type="imageURI" minOccurs="0"/>
					<xsd:element name="Url" type="websiteURI" minOccurs="0"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="Presentation" type="presentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="typeOfProductCategory">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Image" type="imageURI" minOccurs="0"/>
					<xsd:element name="Url" type="websiteURI" minOccurs="0"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="Presentation" type="presentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="typeOfService">
		<xsd:annotation>
			<xsd:documentation>Deze structuur is alleen bedoeld om voorgedefinieerde waarden ongewijzigd (!) over te nemen</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeOfActivation">
		<xsd:annotation>
			<xsd:documentation>Deze structuur is alleen bedoeld om voorgedefinieerde waarden ongewijzigd (!) over te nemen</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeOfEquipment">
		<xsd:annotation>
			<xsd:documentation>Deze structuur is alleen bedoeld om voorgedefinieerde waarden ongewijzigd (!) over te nemen</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="projections">
		<xsd:sequence>
			<xsd:element name="PointProjection" type="pointProjection"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pointProjection">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="ProjectToPointRef" type="refClassVersion"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pointOnRoute">
		<xsd:complexContent>
			<xsd:extension base="orderedObject_">
				<xsd:sequence>
					<xsd:element name="RoutePointRef" type="refVersion"/>
					<xsd:element name="OnwardRouteLinkRef" type="refVersion" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="route">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LineRef" type="refVersion"/>
					<xsd:element name="DirectionType" type="netex:DirectionTypeEnumeration" minOccurs="0"/>
					<xsd:element name="pointsInSequence" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="PointOnRoute" type="pointOnRoute" minOccurs="2" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="routePoint">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Location" type="location"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="routeLink">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Distance" type="xsd:decimal" minOccurs="0"/>
					<xsd:element ref="gml:LineString"/>
					<xsd:element name="passingThrough" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="PointOnLink" type="pointOnLink" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="FromPointRef" type="refVersion"/>
					<xsd:element name="ToPointRef" type="refVersion"/>
					<xsd:element name="OperationalContextRef" type="refVersion" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pointOnLink">
		<xsd:complexContent>
			<xsd:extension base="orderedObject_">
				<xsd:sequence>
					<xsd:element name="DistanceFromStart" type="xsd:decimal"/>
					<xsd:element name="ActivationPointRef" type="refVersion"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="activationPoint">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Location" type="location" minOccurs="0"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="TypeOfActivationRef" type="ref"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timingPoint">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:annotation>
					<xsd:documentation>keyList bevat de PrivateCode</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="keyList" type="keyList"/>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="Location" type="location"/>
					<xsd:element name="projections" type="projections"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="scheduledStopPoint">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="Location" type="location"/>
					<xsd:element name="projections" type="projections"/>
					<xsd:element name="stopAreas" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="StopAreaRef" type="refVersion"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="tariffZones">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TariffZoneRef" type="refVersion" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="ForAlighting" type="xsd:boolean" default="true"/>
					<xsd:element name="ForBoarding" type="xsd:boolean" default="true"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="stopArea">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="PublicCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="TopographicPlaceView" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="passengerStopAssignment">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ScheduledStopPointRef" type="refVersion"/>
					<xsd:choice>
						<xsd:element name="StopPlaceRef" type="netex:refVersion"/>
						<xsd:element name="QuayRef" type="netex:refVersion"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="dataSource">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="Email" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="availabilityCondition">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:annotation>
					<xsd:documentation>keyList bevat de PrivateCode</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="FromDate" type="xsd:dateTime"/>
					<xsd:element name="ToDate" type="xsd:dateTime"/>
					<xsd:element name="ValidDayBits">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-1]+"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="journeyValidityConditions">
		<xsd:sequence>
			<xsd:element name="AvailabilityConditionRef" type="refVersion" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="journeyDayTypes">
		<xsd:sequence>
			<xsd:element name="DayTypeRef" type="refVersion" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="serviceJourney">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="validityConditions" type="journeyValidityConditions"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="Monitored" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="DepartureTime" type="xsd:time"/>
					<xsd:element name="DepartureDayOffset" type="xsd:integer" default="0" minOccurs="0"/>
					<xsd:element name="dayTypes" type="journeyDayTypes" minOccurs="0"/>
					<xsd:element name="ServiceJourneyPatternRef" type="refVersion"/>
					<xsd:element name="TimeDemandTypeRef" type="refVersion"/>
					<xsd:element name="VehicleTypeRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="BlockRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="OperatorRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="Print" type="xsd:boolean" default="true" minOccurs="0"/>
					<xsd:element name="Dynamic" type="DynamicAdvertisementEnumeration" default="always" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="dataSourceRef" type="xsd:string" form="unqualified"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="deadRun">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="validityConditions" type="journeyValidityConditions"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="Monitored" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="DepartureTime" type="xsd:time"/>
					<xsd:element name="DepartureDayOffset" type="xsd:integer" default="0" minOccurs="0"/>
					<xsd:element name="dayTypes" type="journeyDayTypes" minOccurs="0"/>
					<xsd:element name="DeadRunJourneyPatternRef" type="refVersion"/>
					<xsd:element name="TimeDemandTypeRef" type="refVersion"/>
					<xsd:element name="VehicleTypeRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="BlockRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="DeadRunType" type="DeadRunTypeEnumeration" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="dataSourceRef" type="xsd:string" form="unqualified"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="responsibilitySet">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="roles">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ResponsibilityRoleAssignment" type="responsibilityRoleAssignment" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="responsibilityRoleAssignment">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="StakeholderRoleType" type="StakeholderRoleTypeListOfEnumerations"/>
					<xsd:element name="ResponsibleOrganisationRef" type="refClassVersion"/>
					<xsd:element name="ResponsibleAreaRef" type="refClassVersion" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="notice">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Text" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="noticeAssignment">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="NoticeRef" type="refVersion"/>
					<xsd:element name="NoticedObjectRef" type="refClassVersion"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:nonNegativeInteger" use="optional" form="unqualified"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="accessibilityAssessment">
		<xsd:sequence>
			<xsd:element name="MobilityImpairedAccess" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Comment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="line">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="BrandingRef" type="refVersion"/>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="TransportMode" type="TransportmodeEnum"/>
					<xsd:element name="TransportSubmode" type="PtSubmodeChoice" minOccurs="0"/>
					<xsd:element name="PublicCode" type="xsd:string"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="ExternalLineRef" type="refType" minOccurs="0"/>
					<xsd:element name="AuthorityRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="additionalTransportOrganisations" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:annotation>
									<xsd:documentation>Hier altijd nameOfRefClass="Authority" gebruiken</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="TransportOrganisationRef" type="refClassVersion" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="TypeOfProductCategoryRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="TypeOfServiceRef" type="ref"/>
					<xsd:element name="Monitored" type="xsd:boolean"/>
					<xsd:element name="Presentation" type="presentation" minOccurs="0"/>
					<xsd:element name="AccessibilityAssessment" type="accessibilityAssessment"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="block">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="VehicleTypeRef" type="refVersion" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="stopPointInJourneyPattern">
		<xsd:complexContent>
			<xsd:extension base="orderedObject_">
				<xsd:sequence>
					<xsd:element name="ScheduledStopPointRef" type="refVersion"/>
					<xsd:element name="OnwardTimingLinkRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="IsWaitPoint" type="xsd:boolean" default="false" minOccurs="0"/>
					<xsd:element name="ForAlighting" type="xsd:boolean" default="true" minOccurs="0"/>
					<xsd:element name="ForBoarding" type="xsd:boolean" default="true" minOccurs="0"/>
					<xsd:element name="DestinationDisplayRef" type="refVersion" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timingPointInJourneyPattern">
		<xsd:complexContent>
			<xsd:extension base="orderedObject_">
				<xsd:sequence>
					<xsd:element name="TimingPointRef" type="refVersion"/>
					<xsd:element name="OnwardTimingLinkRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="IsWaitPoint" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="serviceJourneyPattern">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="RouteRef" type="refVersion"/>
					<xsd:element name="DirectionType" type="netex:DirectionTypeEnumeration" minOccurs="0"/>
					<xsd:element name="DestinationDisplayRef" type="refVersion"/>
					<xsd:element name="pointsInSequence">
						<xsd:complexType>
							<xsd:choice minOccurs="2" maxOccurs="unbounded">
								<xsd:element name="StopPointInJourneyPattern" type="stopPointInJourneyPattern"/>
								<xsd:element name="TimingPointInJourneyPattern" type="timingPointInJourneyPattern"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="deadRunJourneyPattern">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="pointsInSequence">
						<xsd:complexType>
							<xsd:choice minOccurs="2" maxOccurs="unbounded">
								<xsd:element name="StopPointInJourneyPattern" type="stopPointInJourneyPattern"/>
								<xsd:element name="TimingPointInJourneyPattern" type="timingPointInJourneyPattern"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timingLink">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Distance" type="xsd:decimal"/>
					<xsd:element name="FromPointRef" type="refVersion"/>
					<xsd:element name="ToPointRef" type="refVersion"/>
					<xsd:element name="OperationalContextRef" type="refVersion" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="responsibilitySetRef" type="xsd:string" form="unqualified"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="journeyRunTime">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="TimingLinkRef" type="refVersion"/>
					<xsd:element name="RunTime" type="xsd:duration"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="journeyWaitTime">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="ScheduledStopPointRef" type="refVersion"/>
						<xsd:element name="TimingPointRef" type="refVersion"/>
					</xsd:choice>
					<xsd:element name="WaitTime" type="xsd:duration"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="journeyLayover">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Layover" type="xsd:duration"/>
					<xsd:choice>
						<xsd:element name="ScheduledStopPointRef" type="refVersion"/>
						<xsd:element name="TimingPointRef" type="refVersion"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timeDemandType">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="runTimes">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="JourneyRunTime" type="journeyRunTime" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="waitTimes" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="JourneyWaitTime" type="journeyWaitTime" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="layovers" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="JourneyLayover" type="journeyLayover" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="operationalContext">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="VehicleMode" type="TransportmodeEnum"/>
					<xsd:element name="TransportSubmode" type="PtSubmodeChoice" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="destinationDisplay">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="SideText" type="xsd:string" minOccurs="0"/>
					<xsd:element name="FrontText" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="Presentation" type="presentation" minOccurs="0"/>
					<xsd:element name="vias" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Via" type="via" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="variants" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DestinationDisplayVariant" type="destinationDisplayVariant" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="destinationDisplayVariant">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="FrontText" type="typedString"/>
					<xsd:element name="vias" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Via" type="via" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="via">
		<xsd:sequence>
			<xsd:element name="Name" type="typedString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="propertyOfDay">
		<xsd:sequence>
			<xsd:element name="DaysOfWeek" type="DaysOfWeekListOfEnumerations" default="Everyday" minOccurs="0"/>
			<xsd:element name="WeeksOfMonth" type="WeeksOfMonthListOfEnumerations" default="EveryWeek" minOccurs="0"/>
			<xsd:element name="DayOfYear" type="xsd:gMonthDay" minOccurs="0"/>
			<xsd:element name="HolidayTypes" type="HolidayTypesListOfEnumerations" default="AnyDay" minOccurs="0"/>
			<xsd:element name="Seasons" type="SeasonsListOfEnumerations" default="Perennially" minOccurs="0"/>
			<xsd:element name="Tides" type="TidesListOfEnumerations" default="AllTides" minOccurs="0"/>
			<xsd:element name="DaysEvent" type="DayEventEnumeration" minOccurs="0"/>
			<xsd:element name="Crowding" type="CrowdingEnumeration" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dayType">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="properties">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="PropertyOfDay" type="propertyOfDay"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="dayTypeAssignment">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Date" type="xsd:date"/>
					<xsd:element name="DayTypeRef" type="refVersion"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="vehicle">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="BrandingRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="RegistrationNumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="OperationalNumber" type="xsd:string"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="OperatorRef" type="refVersion" minOccurs="0"/>
					<xsd:element name="VehicleTypeRef" type="refVersion"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="vehicleType">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Extensions" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="BoardingHeight" type="xsd:decimal" minOccurs="0"/>
								<xsd:element name="GapToPlatform" type="xsd:decimal" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PrivateCode" type="privateCode" minOccurs="0"/>
					<xsd:element name="TypeOfFuel" type="TypeOfFuelEnumeration" minOccurs="0"/>
					<xsd:element name="PassengerCapacity">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="SeatingCapacity" type="xsd:nonNegativeInteger" minOccurs="0"/>
								<xsd:element name="StandingCapacity" type="xsd:nonNegativeInteger" minOccurs="0"/>
								<xsd:element name="SpecialPlaceCapacity" type="xsd:nonNegativeInteger" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="HasLiftOrRamp" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="HasHoist" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="Length" type="xsd:decimal"/>
					<xsd:element name="Width" type="xsd:decimal" minOccurs="0"/>
					<xsd:element name="Height" type="xsd:decimal" minOccurs="0"/>
					<xsd:element name="Weight" type="xsd:decimal" minOccurs="0"/>
					<xsd:element name="facilities" type="facilities" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="facilities">
		<xsd:sequence>
			<xsd:element name="ServiceFacilitySet" type="serviceFacilitySet" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="serviceFacilitySet">
		<xsd:complexContent>
			<xsd:extension base="modifiedObject_">
				<xsd:sequence>
					<xsd:element name="Extensions" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="AccessFacilityList" minOccurs="0">
									<xsd:simpleType>
										<xsd:list itemType="AccessFacilityEnumeration"/>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="PassengerCommsFacilityList" minOccurs="0">
						<xsd:simpleType>
							<xsd:list itemType="PassengerCommsFacilityEnumeration"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SanitaryFacilityList" minOccurs="0">
						<xsd:simpleType>
							<xsd:list itemType="SanitaryFacilityEnumeration"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TicketingServiceFacilityList" minOccurs="0">
						<xsd:simpleType>
							<xsd:list itemType="TicketingServiceFacilityEnumeration"/>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- FRAMES                                                                                           -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- RESOURCE FRAME -->
	<xsd:complexType name="resourceFrame">
		<xsd:complexContent>
			<xsd:extension base="versionedFrame_">
				<xsd:sequence>
					<xsd:element name="dataSources">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DataSource" type="dataSource" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="responsibilitySets">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ResponsibilitySet" type="responsibilitySet" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="typesOfValue">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Branding" type="branding" maxOccurs="unbounded"/>
								<xsd:element name="TypeOfProductCategory" type="typeOfProductCategory" minOccurs="0" maxOccurs="unbounded"/>
								<xsd:element name="TypeOfService" type="typeOfService" minOccurs="0" maxOccurs="unbounded"/>
								<xsd:element name="TypeOfActivation" type="typeOfActivation" minOccurs="0" maxOccurs="unbounded"/>
								<xsd:element name="TypeOfEquipment" type="typeOfEquipment" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="organisations">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Operator" type="operator" maxOccurs="unbounded"/>
								<xsd:element name="Authority" type="authority" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="operationalContexts">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OperationalContext" type="operationalContext" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="vehicleTypes" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="VehicleType" type="vehicleType" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="vehicles" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Vehicle" type="vehicle" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="zones">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="AdministrativeZone" type="administrativeZone" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- SERVICE FRAME -->
	<xsd:complexType name="serviceFrame">
		<xsd:complexContent>
			<xsd:extension base="versionedFrame_">
				<xsd:sequence>
					<xsd:element name="routePoints" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RoutePoint" type="routePoint" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="routeLinks" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RouteLink" type="routeLink" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="routes" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Route" type="route" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="lines">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Line" type="line" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="destinationDisplays">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DestinationDisplay" type="destinationDisplay" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="scheduledStopPoints">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ScheduledStopPoint" type="scheduledStopPoint" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="stopAreas" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="StopArea" type="stopArea" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="stopAssignments" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="PassengerStopAssignment" type="passengerStopAssignment" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="timingPoints" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TimingPoint" type="timingPoint" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="timingLinks">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TimingLink" type="timingLink" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="journeyPatterns">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ServiceJourneyPattern" type="serviceJourneyPattern" maxOccurs="unbounded"/>
								<xsd:element name="DeadRunJourneyPattern" type="deadRunJourneyPattern" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="timeDemandTypes">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TimeDemandType" type="timeDemandType" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="notices" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Notice" type="notice" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="noticeAssignments" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="NoticeAssignment" type="noticeAssignment" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- INFRASTRUCTURE FRAME -->
	<xsd:complexType name="infrastructureFrame">
		<xsd:complexContent>
			<xsd:extension base="versionedFrame_">
				<xsd:sequence>
					<xsd:element name="activationPoints" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ActivationPoint" type="activationPoint" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- VEHIICLE SCHEDULE FRAME -->
	<xsd:complexType name="vehicleScheduleFrame">
		<xsd:complexContent>
			<xsd:extension base="versionedFrame_">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="blocks">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Block" type="block" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- SERVICE CALENDAR FRAME -->
	<xsd:complexType name="serviceCalendarFrame">
		<xsd:complexContent>
			<xsd:extension base="versionedFrame_">
				<xsd:sequence>
					<xsd:element name="dayTypes">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DayType" type="dayType" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="dayTypeAssignments">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DayTypeAssignment" type="dayTypeAssignment" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- TIMETABLE FRAME -->
	<xsd:complexType name="timetableFrame">
		<xsd:complexContent>
			<xsd:extension base="versionedFrame_">
				<xsd:sequence>
					<xsd:element name="Monitored" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="contentValidityConditions">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="AvailabilityCondition" type="availabilityCondition" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="OperatorView">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OperatorRef" type="refVersion"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="vehicleJourneys">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ServiceJourney" type="serviceJourney" maxOccurs="unbounded"/>
								<xsd:element name="DeadRun" type="deadRun" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- COMPOSITE FRAME -->
	<xsd:complexType name="compositeFrame">
		<xsd:complexContent>
			<xsd:extension base="modifiedFrame_">
				<xsd:sequence>
					<xsd:element name="FrameDefaults" type="frameDefaults" minOccurs="0"/>
					<xsd:element name="versions" type="versions"/>
					<xsd:element name="frames" type="frames" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="frames">
		<xsd:sequence>
			<xsd:element name="ResourceFrame" type="resourceFrame" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InfrastructureFrame" type="infrastructureFrame" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ServiceFrame" type="serviceFrame" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="ActivationPointId">
					<xsd:selector xpath=".//netex:activationPoints/netex:ActivationPoint"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="PointOnRoute-ActivationPointRef" refer="ActivationPointId">
					<xsd:selector xpath=".//netex:routeLinks/netex:RouteLink/netex:passingThrough/netex:PointOnLink/netex:ActivationPointRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="RoutePointId">
					<xsd:selector xpath=".//netex:routePoints/netex:RoutePoint"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="PointOnRoute-RoutePointRef" refer="RoutePointId">
					<xsd:selector xpath=".//netex:routes/netex:Route/netex:pointsInSequence/netex:PointOnRoute/netex:RoutePointRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="NoticeId">
					<xsd:selector xpath=".//netex:Notice"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="NoticeRef" refer="NoticeId">
					<xsd:selector xpath=".//netex:NoticeRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="ScheduledStopPointId">
					<xsd:selector xpath=".//netex:ScheduledStopPoint"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:key name="TimingPointId">
					<xsd:selector xpath=".//netex:TimingPoint | .//netex:ScheduledStopPoint"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="TimingPointRef" refer="TimingPointId">
					<xsd:selector xpath=".//netex:TimingPointRef | .//netex:TimingLink/netex:FromPointRef | .//netex:TimingLink/netex:ToPointRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:keyref name="ScheduledStopPointRef" refer="ScheduledStopPointId">
					<xsd:selector xpath=".//netex:ScheduledStopPointRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="TimingLinkId">
					<xsd:selector xpath=".//netex:TimingLink"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="OnwardTimingLinkRef" refer="TimingLinkId">
					<xsd:selector xpath=".//netex:OnwardTimingLinkRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:keyref name="TimingLinkRef" refer="TimingLinkId">
					<xsd:selector xpath=".//netex:TimingLinkRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:keyref name="RoutePointRef" refer="RoutePointId">
					<xsd:selector xpath=".//netex:RoutePointRef | .//netex:RouteLink/netex:FromPointRef | .//netex:RouteLink/netex:ToPointRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="StopAreaId">
					<xsd:selector xpath=".//netex:StopArea"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="StopAreaRef" refer="StopAreaId">
					<xsd:selector xpath=".//netex:StopAreaRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="TimetableFrame" type="timetableFrame" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="AvailabilityConditionId">
					<xsd:selector xpath=".//netex:AvailabilityCondition"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="AvailabilityConditionRef" refer="AvailabilityConditionId">
					<xsd:selector xpath=".//netex:AvailabilityConditionRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="ServiceCalendarFrame" type="serviceCalendarFrame" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="VehicleScheduleFrame" type="vehicleScheduleFrame" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dataObjects">
		<xsd:sequence>
			<xsd:element name="CompositeFrame" type="compositeFrame" maxOccurs="unbounded">
				<xsd:key name="VersionId">
					<xsd:selector xpath=".//netex:Version"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="Version-DerivedFromVersionRef" refer="VersionId">
					<xsd:selector xpath=".//netex:DerivedFromVersionRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="DataSourceId">
					<xsd:selector xpath=".//netex:DataSource"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="DefaultDataSourceRef" refer="DataSourceId">
					<xsd:selector xpath=".//netex:DefaultDataSourceRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:keyref name="ServiceJourney-DataSourceRef" refer="DataSourceId">
					<xsd:selector xpath=".//netex:ServiceJourney"/>
					<xsd:field xpath="@dataSourceRef"/>
				</xsd:keyref>
				<xsd:key name="LineId">
					<xsd:selector xpath=".//netex:Line"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="LineRef" refer="LineId">
					<xsd:selector xpath=".//netex:LineRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="AuthorityId">
					<xsd:selector xpath=".//netex:Authority"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="AuthorityRef" refer="AuthorityId">
					<xsd:selector xpath=".//netex:AuthorityRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="OperatorId">
					<xsd:selector xpath=".//netex:Operator"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="OperatorRef" refer="OperatorId">
					<xsd:selector xpath=".//netex:OperatorRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="TypeOfProductCategoryId">
					<xsd:selector xpath=".//netex:TypeOfProductCategory"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="TypeOfProductCategoryRef" refer="TypeOfProductCategoryId">
					<xsd:selector xpath=".//netex:TypeOfProductCategoryRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="DestinationDisplayId">
					<xsd:selector xpath=".//netex:DestinationDisplay"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="DestinationDisplayRef" refer="DestinationDisplayId">
					<xsd:selector xpath=".//netex:DestinationDisplayRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="TimeDemandTypeId">
					<xsd:selector xpath=".//netex:TimeDemandType"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="TimeDemandTypeRef" refer="TimeDemandTypeId">
					<xsd:selector xpath=".//netex:TimeDemandTypeRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="BlockId">
					<xsd:selector xpath=".//netex:Block"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="BlockRef" refer="BlockId">
					<xsd:selector xpath=".//netex:BlockRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="ServiceJourneyPatternId">
					<xsd:selector xpath=".//netex:ServiceJourneyPattern"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="JourneyPatternRef" refer="ServiceJourneyPatternId">
					<xsd:selector xpath=".//netex:JourneyPatternRef"/>
					<xsd:field xpath="@ref"/>
				</xsd:keyref>
				<xsd:key name="ResponsibilitySetId">
					<xsd:selector xpath=".//netex:ResponsibilitySet"/>
					<xsd:field xpath="@id"/>
				</xsd:key>
				<xsd:keyref name="TimingLink-ResponsibilitySetRef" refer="ResponsibilitySetId">
					<xsd:selector xpath=".//netex:TimingLink"/>
					<xsd:field xpath="@responsibilitySetRef"/>
				</xsd:keyref>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- GEGEVENSLEVERING-->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:element name="PublicationDelivery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PublicationTimestamp" type="xsd:string"/>
				<xsd:element name="ParticipantRef" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string"/>
				<xsd:element name="dataObjects" type="dataObjects"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="required" fixed="9.1.0" form="unqualified"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
